<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OfficeMonitor</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <!--<link rel="stylesheet" href="~/OfficeMonitor.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />-->

    <title>OfficeMonitor</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">

    <!--<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js" defer></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js" defer></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>

<style>
</style>

<script src="~/lib/jquery/dist/jquery.js" type="text/javascript"></script>
<script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript"></script>

<script>
    function BurgerMenuLogic() {
        var width = Math.max(document.documentElement.clientWidth || 0, window.innerWidth || 0);
        var menu = document.getElementById('menu-wrap');
        var dropmenu = document.getElementById('dropdown-menu');
        if (width < 800) {
            menu.style.display = 'none';
            dropmenu.style.display = 'block';
        } else {
            menu.style.display = 'block';
            dropmenu.style.display = 'none';
        }
    }
    window.onload = function () {
        BurgerMenuLogic();
    }
    window.onresize = function(){
        BurgerMenuLogic();
    }

    function clickDropMenu() {
        var dropmenu = document.getElementById('dropdown-menu');
        var droplist = document.getElementById('dropdown-list');
        var menuimage = document.getElementById('menu-image');
        if (dropmenu.style.display == 'block' && droplist.style.display == 'none') {
            droplist.style.display = 'block';
            menuimage.style.backgroundColor = '#999999';
        } else {
            droplist.style.display = 'none';
            droplist.style.backgroundColor = 'none';
            menuimage.style.backgroundColor = '';
        }
    }

    function openModal() {
        var modal = document.getElementById('modal');
        modal.style.display = 'block';
    }
    function closeModal() {
        var modal = document.getElementById('modal');
        modal.style.display = 'none';
    }
</script>

<body>

    <section class="header-wrap">
        <header class="header">
            <a href="/">
                <img src="~/images/logo2(white-blank).png" class="logo-image" />
            </a>
            <nav class="header-nav">
                <div id="menu-wrap">
                    <ul class="menu" id="menu">
                        <li><a href="/">Главная</a></li>
                        @if (User.Claims.Any())
                        {
                            if (User.IsInRole("MANAGER")){
                                <li><a href="/ManagerDashboard">Личный Кабинет</a></li>
                            }
                            if (User.IsInRole("COMPANY"))
                            {
                                <li><a href="/CompanyDashboard">Личный Кабинет</a></li>
                            }
                            if (User.IsInRole("ADMIN"))
                            {
                                <li><a href="/AdminDashboard">Личный Кабинет</a></li>
                            }
                        }
                        <li><a href="#">О нас</a></li>
                        <li><a href="#">Отзывы</a></li>
                        
                        @if (User.Claims.Any())
                        {
                            <li><a href="/LogOut" style="color:red;"><button class="login-button">Выйти</button></a></li>
                        }
                        else
                        {
                            <li><a href="/Login"><button class="login-button">Логин</button></a></li>
                        }
                    </ul>
                </div>
                <div class="dropdown-menu" id="dropdown-menu">
                    <img id="menu-image" src="~/images/burger-button.png" class="menu-image" onclick="clickDropMenu()" />
                    <div id="dropdown-list" class="dropdown-list" style="display:none;">
                        <div>
                            <a href="/">Главная</a>
                            @if (User.Claims.Any())
                            {
                                if (User.IsInRole("MANAGER"))
                                {
                                    <a href="/ManagerDashboard">Личный Кабинет</a>
                                }
                                if (User.IsInRole("COMPANY"))
                                {
                                    <a href="/CompanyDashboard">Личный Кабинет</a>
                                }
                                if (User.IsInRole("ADMIN"))
                                {
                                    <a href="/AdminDashboard">Личный Кабинет</a>
                                }
                            }
                            <a href="/AboutUs">О нас</a>
                            <a href="">Отзывы</a>
                            <a href="/Home/TestUser">TestUser</a>
                            <a href="/Home/TestManager">TestManager</a>
                            <a href="/Home/TestAdmin">TestAdmin</a>
                            <a href="/Home/TestCompany">TestCompany</a>
                            @if(User.Claims.Any()){
                                <a href="/LogOut" style="color:red;">Выйти</a>
                            }
                            else
                            {
                                <a href="/Login">Логин</a>
                            }
                        </div>

                    </div>
                </div>
            </nav>
        </header>
    </section>
    
    <div class="modal" id="modal" style="display:none;">
        <div class="modal-content">
            <span class="modal-close" onclick="closeModal()">&times;</span>
            <div class="modal-body" id="modal-body">
            </div>
        </div>
    </div>

    @{/*<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>-->*/
    }
    <div>
        @RenderBody()
    </div>

    <footer class="footer">
        <div class="footer-container">
            <div class="footer-element">
                <a href="/">
                    <img src="~/images/logo(white-blank).png" class="footer-logo-image" />
                </a>
                <ul class="footer-menu">
                    <li>
                        <h3>Удобный инструмент каждого HR специалиста.</h3>
                    </li>
                    <li>Беларусь, г.Новополоцк, Молодёжная ул., д. 41</li>
                    </br>
                    <li>officemonitor-support@gmail.com</li>
                </ul>
            </div>
            <div class="footer-element">
                <h3 class="footer-h3">Карта сайта</h3>
                <ul class="footer-menu">
                    <li><a href="#">Главная</a></li>
                    @if (User.Claims.Any())
                    {
                        if (User.IsInRole("MANAGER"))
                        {
                            <li><a href="/ManagerDashboard">Личный кабинет</a></li>
                        }
                        if (User.IsInRole("COMPANY"))
                        {
                            <li><a href="/CompanyDashboard">Личный кабинет</a></li>
                        }
                        if (User.IsInRole("ADMIN"))
                        {
                            <li><a href="/AdminDashboard">Личный кабинет</a></li>
                        }
                    }
                    <li><a href="#">О нас</a></li>
                    <li><a href="#">Отзывы</a></li>
                    @if (!User.Claims.Any())
                    {
                        <li><a href="/LogOut">Выйти</a></li>
                    }
                    else
                    {
                        <li><a href="#">Логин</a></li>
                    }
                    <li><a href="/CompanyDashboard">CompanyDashboard</a></li>
                    <li><a href="/ManagerDashboard">ManagerDashboard</a></li>
                    <li><a href="/AdminDashboard">AdminDashboard</a></li>
                    <li><a href="/swagger/index.html">Swagger</a></li>
                </ul>
            </div>
            <div class="footer-element">
                <h3 class="footer-h3">Наши соцсети</h3>
                <ul class="footer-menu">
                    <li><a href="#">Telegram</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">VK</a></li>
                    <li><a href="#">Dzen</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-credentials">
            <div class="copyright">
                <span>Copyright 2024 PSU &copy; OfficeMonitor.by</span>
                <span>Made by Sazonov Albert as diploma project</span>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!---<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.m in.js"></script>-->
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
