/*@tailwind base;
@tailwind components;
@tailwind utilities;
*/
* {
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 17px;
    font-style: normal;
    position: relative;
}

body {
    background: #dde1e7;
    display: flex;
    flex-direction: column;
}

.login-button {
    appearance: none;
    user-select: none;
    outline: inherit;
    cursor: pointer;
    border-radius: 5px;
    background: none;
    border-color: whitesmoke;
    color: #fff;
    padding: 8px 16px;
}

    .login-button:hover {
        background: rgb(48, 47, 47);
    }

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header-wrap {
    background-color: rgba(35, 34, 41, 1.0);
    position: relative;
    z-index: 2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px;
    box-sizing: border-box;
    max-width: 1450px;
    margin: 0 auto;
    height: 70px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    width: auto;
    height: 60px;
}

.menu {
    display: flex;
    align-items: baseline;
}

    .menu li {
        margin-left: 50px;
    }

        .menu li a {
            color: gray;
        }

            .menu li a:hover {
                color: white;
            }

.dropdown-menu {
    position: relative;
    display: inline-block;
}

.menu-image {
    width: auto;
    height: 50px;
    border-radius: 10px;
}

    .menu-image:hover {
        background-color: #595959;
    }

.dropdown-list {
    display: none;
    position: absolute;
    top: 50px;
    right: 1px;
    background-color: #f1f1f1;
    min-width: 160px;
    margin: auto 0;
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.5);
    border-radius: 10px;
}

    .dropdown-list div {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

        .dropdown-list div a {
            width: 100%;
            text-align: center;
            line-height: 35px;
            height: 35px;
            color: black;
            border-radius: 10px;
        }

            .dropdown-list div a:hover {
                background-color: #b3b3b3;
            }


.footer {
    margin-top: auto;
    bottom: 0;
    width: 100%;
    background-color: rgba(35, 34, 41);
    color: gray;
}

.footer-logo-image {
    width: auto;
    height: 90px;
}

.footer .footer-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    max-width: 1450px;
    margin: 0 auto;
    padding: 10px 15px;
    gap: 15px;
    box-sizing: border-box;
}

.footer-element {
    display: flex;
    flex-direction: column;
}

.footer-menu li {
    margin-top: 5px;
}

    .footer-menu li a {
        text-decoration: none;
        color: gray;
    }

        .footer-menu li a:hover {
            color: white;
        }

.footer-h3 {
    font-weight: 800;
}

.footer .footer-credentials .copyright {
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}


.banner {
    width: auto;
    background-color: #232229; /*rgba(35, 34, 41, 1.0);*/
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.banner-content {
    max-width: 1450px;
    padding: 80px 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

    .banner-content .banner-left {
        display: flex;
        flex-direction: column;
        gap: 25px;
        color: white;
    }

.banner-left .banner-slogan {
    font-size: 24px;
    font-weight: bold;
}

.banner-left .banner-description {
    font-size: 20px;
}

.banner-left .banner-button {
    appearance: none;
    user-select: none;
    height: 45px;
    width: 200px;
    border: none;
    border-radius: 10px;
    outline: inherit;
    cursor: pointer;
}

    .banner-left .banner-button :hover {
        border-color: white;
        background: #000000;
    }

.tablet-image {
    position: relative;
    width: 40%;
    height: auto;
}

.info-box {
    padding: 30px 20px;
    box-sizing: border-box;
    max-width: 1450px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    height: max-content;
    flex-direction: row;
    justify-content: space-between;
}

    .info-box .panels-box {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px;
    }

.panels-box .panels-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.info-box .panel-card {
    border-radius: 20px;
    padding: 20px;
    width: 35%;
    height: auto;
    box-shadow: -5px -5px 9px rgba(255,255,255,0.45), 5px 5px 9px rgba(94,104,121,0.3);
}

.panel-card .card-slogan, .panel-slogan {
    font-size: 24px;
    font-weight: bold;
}

.panel-card .card-description, .panel-description {
    font-size: 20px;
}

.panels-column .panel {
    border-radius: 20px;
    padding: 20px;
    width: 200px;
    min-height: 150px;
    box-shadow: inset -5px -5px 9px rgba(255,255,255,0.45), inset 5px 5px 9px rgba(94,104,121,0.3);
}


.company-logos {
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1450px;
    margin: 0 auto;
    overflow: hidden;
}

    .company-logos div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        gap: 100px;
        animation: queue 10s linear infinite;
    }

        .company-logos div img {
            height: 60%;
        }

@keyframes queue {
    0% {
        transform: translateX(110%);
    }

    100% {
        transform: translateX(-110%);
    }
}

.plans {
    padding: 0 20px;
    box-sizing: border-box;
    max-width: 1450px;
    margin: 40px auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}

.card {
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
    width: 210px;
    font-family: "Arial";
    padding: 1rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
}

    .card > * + * {
        padding: 3px;
    }

    .card .card__content {
        color: var(--secondary-color);
        font-size: 0.86rem;
    }

    .card .card__title {
        padding: 0;
        font-size: 1.3rem;
        font-weight: bold;
    }

    .card .card__date {
        color: #6e6b80;
        font-size: 0.8rem;
    }

    .card .card__arrow {
        position: absolute;
        background: var(--primary-color);
        padding: 0.4rem;
        border-top-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
        bottom: 0;
        right: 0;
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card svg {
        transition: 0.2s;
    }

    /* hover */
    .card:hover .card__title {
        color: var(--primary-color);
        text-decoration: underline;
    }

    .card:hover .card__arrow {
        background: #111;
    }

        .card:hover .card__arrow svg {
            transform: translateX(3px);
        }