@using OfficeMonitor.DTOs
@model List<DepartmentDto>

    <script>
        function getStatisticOfDepartment(id) {
        var startDate = $('#daterange').data('daterangepicker').startDate.format('DD.MM.YYYY');
        var endDate = $('#daterange').data('daterangepicker').endDate.format('DD.MM.YYYY');
        console.log("Start Date:", startDate, "End Date:", endDate);
        var dataRange = startDate+' - '+endDate;
        
        var GetDepartmentStatistic = {
            "DepartmentId": id,
            "DateRange": dataRange
        };

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: '/GetDepartmentStatistic',
            data: JSON.stringify(GetDepartmentStatistic),
            success: function (response) {
                //alert("Статистика получена " + response);
                $("#department-statistic").html(response);
            },
            error: function (response) {
                alert("Ошибка при получении статистики" + response.responseText);
            }
        });
        }
        $(document).ready(function(){
            $('#daterange').daterangepicker({
                locale: {
                    format: 'DD.MM.YYYY'
                },
                calender_style: "picker_1",
                maxDate: new Date()
            });
        },
           function (start, end) {
               console.log("Selected dates:", start.format('DD.MM.YYYY'), end.format('DD.MM.YYYY'));
               var startDate = start.format('DD.MM.YYYY');
               var endDate = end.format('DD.MM.YYYY');
           });
    </script>

    <input type="text" id="daterange" name="daterange" value="01.05.2024 - 10.05.2024"/>

    <div class="button-list">
    @foreach(DepartmentDto dto in Model){
        <button onclick="getStatisticOfDepartment(@dto.Id)">@dto.Name</button>
    }
    </div>

    <div id="department-statistic">

    </div>