<div id="firstContent" class="info-page">
    <div class="info-credentials">
        <div class="name">Лазаренко Леонид Семенович</div>
        <div class="description">leonid23_45@yandex.ru</div>
    </div>
    </div>
</div>