<script>
    $(document).ready(function () {
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'GET',
            url: '/Company/GetDepartmentsByCompanyHtml',
            success: function (response) {
                $("#department").html(response);
                getProfiles();
            },
            error: function (response) {
                alert("Ошибка получения отделов" + response.responseText);
            }
        });

        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'GET',
            url: '/Company/GetDepartmentsByCompanyHtmlCheckBox',
            success: function (data) {
                $("#managed-departments").html(data);
            },
            error: function (response) {
                alert("Ошибка получения отделов" + response.responseText);
            }
        });
    });
    
    function getProfiles() {
        var IntIdModel = {
            "Id": $('#department').val()
        };
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'POST',
            url: '/api/GetProfilesByDepartmentHtml',
            data: JSON.stringify(IntIdModel),
            success: function (response) {
                $("#profile").html(response);
            },
            error: function (response) {
                alert("Ошибка получение дожностей" + response.responseText);
            }
        });
    }
</script>

<div class="form-name">Добавление менеджера</div>
<hr>
<form asp-controller="Company" asp-action="AddManager" method="post">

    <label for="Name">Имя</label><br>
    <input id="Name" name="Name" type="text" /><br>

    <label for="Surname">Фамилия</label><br>
    <input id="Surname" name="Surname" type="text" /><br>

    <label for="Patronamic">Отчество</label><br>
    <input id="Patronamic" name="Patronamic" type="text" /><br>

    <label for="Email">Почта</label><br>
    <input id="Email" name="Login" type="text" /><br>

    <label for="Password">Пароль</label><br>
    <input id="Password" name="Password" type="text" /><br>

    <input id="employeeDepartmentId" type="hidden"/>
    <label for="department">Отдел</label><br>
    <select id="department" onselect="getProfiles()" onchange="getProfiles()">
        <option value="-">-</option>
    </select><br>

    <input id="employeeProfileId" type="hidden"/>
    <label for="profile">Должность</label><br>
    <select id="profile" name="IdProfile">
        <option value="-">-</option>
    </select><br>

    <fieldset>
        <legend>Отслеживаемые отделы:</legend>
        <div id="managed-departments"></div>
    </fieldset>

    <div class="row-button-list">
        <button type="submit">Подтвердить</button>
        <button type="button" onclick="closeModal()">Назад</button>
    </div>
</form>