@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="banner-content">
        <div class="banner-left">
            <div class="banner-slogan">
                Эффективность работы - наша забота!</br>Отслеживай продуктивность
                сотрудников</br> и улучшай результаты!
            </div>
            <div class="banner-description">
                С легкостью сможешь контролировать </br> рабочие часы и индекс
                выгораемости прямо сейчас!
            </div>
            <button class="banner-button" href="">Подать заявку</button>
        </div>
        <img src="~/images/tablet(screen).png" class="tablet-image" alt="tablet" />
        <!--<div class="banner-right">
            <img src="tablet(blank).png" class="tablet-image" alt="tablet" />
        </div>-->
    </div>
</div>

<div class="info-box">
    <div class="panel-card">
        <div class="card-slogan">Наша главная цель - помочь в оптимизации рабочего процесса</div>
        </br>
        <div class="card-description">
            Данное приложение является удобным инструментом для различных компаний, чтобы
            оптимизировать рабочий процесс и улучшить продуктивность работников благодаря детальной фиксации
            деятельности и анализу данных.
        </div>
        </br>
        <div class="card-description">
            Приложение, сочетающее в себе функциональность отслеживания активности,
            анализа данных и визуализации результатов, предлагает ценные инструменты для управления и оптимизации
            рабочего процесса в организации.
        </div>
    </div>
    <div class="panels-box">
        <div class="panels-column">
            <div class="panel">
                <div class="panel-slogan">Сбор данных</div>
                <div class="panel-description">Контроль активности в реальном времени</div>
            </div>
            <div class="panel">
                <div class="panel-slogan">Анализ</div>
                <div class="panel-description">Детальный анализ деятельности сотрудников</div>
            </div>
        </div>
        <div class="panels-column">
            <div class="panel">
                <div class="panel-slogan">Иерархия</div>
                <div class="panel-description">Разделение на старших и младших менеджеров</div>
            </div>
            <div class="panel">
                <div class="panel-slogan">Визуализация</div>
                <div class="panel-description">Удобное отображение в графическом и печатном формате</div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="company-logos">
        <div>
            <img src="~/images/logo/adani.png" alt="andi">
            <img src="~/images/logo/atlant.png" alt="atlant">
            <img src="~/images/logo/belshina.png" alt="belshina">
            <img src="~/images/logo/mtz.png" alt="mtz">
        </div>
    </div>
</div>

<div>
    <div class="plans">
        <div class="card">
            <h3 class="card__title">
                Начальный тариф
            </h3>
            <p class="card__content">Описание</p>
            <p class="card__content">Стоимость в месяц:</p>
            <p class="card__content">Стоимость в год:</p>
            <p class="card__content">Количество сотрудников:</p>
            <div class="card__date">
                April 15, 2022
            </div>
            <div class="card__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                    <path fill="#fff"
                          d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                    </path>
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="card__title">
                Для малого бизнеса
            </h3>
            <p class="card__content">Описание</p>
            <p class="card__content">Стоимость в месяц:</p>
            <p class="card__content">Стоимость в год:</p>
            <p class="card__content">Количество сотрудников:</p>
            <div class="card__date">
                April 15, 2022
            </div>
            <div class="card__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                    <path fill="#fff"
                          d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                    </path>
                </svg>
            </div>
        </div>

        <div class="card">
            <h3 class="card__title">
                Выбор промышленных гигантов
            </h3>
            <p class="card__content">Описание</p>
            <p class="card__content">Стоимость в месяц:</p>
            <p class="card__content">Стоимость в год:</p>
            <p class="card__content">Количество сотрудников:</p>
            <div class="card__date">
                April 15, 2022
            </div>
            <div class="card__arrow">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" height="15" width="15">
                    <path fill="#fff"
                          d="M13.4697 17.9697C13.1768 18.2626 13.1768 18.7374 13.4697 19.0303C13.7626 19.3232 14.2374 19.3232 14.5303 19.0303L20.3232 13.2374C21.0066 12.554 21.0066 11.446 20.3232 10.7626L14.5303 4.96967C14.2374 4.67678 13.7626 4.67678 13.4697 4.96967C13.1768 5.26256 13.1768 5.73744 13.4697 6.03033L18.6893 11.25H4C3.58579 11.25 3.25 11.5858 3.25 12C3.25 12.4142 3.58579 12.75 4 12.75H18.6893L13.4697 17.9697Z">
                    </path>
                </svg>
            </div>
        </div>
    </div>
</div>