@{
    ViewData["Title"] = "Home Page";
}
<script>
    function openCustomerRequestModal() {
        $.ajax({
            contentType: 'application/json; charset=utf-8',
            dataType: 'html',
            type: 'GET',
            url: '/CustomerRequest',
            success: function (response) {
                $("#modal-body").html(response);
            },
            error: function (response) {
                alert("Ошибка" + response.responseText);
            }
        });
        openModal();
    }
</script>
<div class="banner">
    <div class="banner-content">
        <div class="banner-left">
            <div class="banner-slogan">
                Эффективность работы - наша забота!</br>Отслеживай продуктивность
                сотрудников</br> и улучшай результаты!
            </div>
            <div class="banner-description">
                С легкостью сможешь контролировать </br> рабочие часы и индекс
                выгораемости прямо сейчас!
            </div>
            <button class="banner-button" onclick="openCustomerRequestModal()">Подать заявку</button>
        </div>
        <img src="~/images/tablet(screen).png" class="tablet-image" alt="tablet" />
        <!--<div class="banner-right">
            <img src="tablet(blank).png" class="tablet-image" alt="tablet" />
        </div>-->
    </div>
</div>

<div class="info-box">
    <div class="panel-card">
        <div class="card-slogan">Наша главная цель - помочь в оптимизации рабочего процесса</div>
        </br>
        <div class="card-description">
            Данное приложение является удобным инструментом для различных компаний, чтобы
            оптимизировать рабочий процесс и улучшить продуктивность работников благодаря детальной фиксации
            деятельности и анализу данных.
        </div>
        </br>
        <div class="card-description">
            Приложение, сочетающее в себе функциональность отслеживания активности,
            анализа данных и визуализации результатов, предлагает ценные инструменты для управления и оптимизации
            рабочего процесса в организации.
        </div>
    </div>
    <div class="panels-box">
        <div class="panels-column">
            <div class="panel">
                <div class="panel-slogan">Сбор данных</div>
                <div class="panel-description">Контроль активности в реальном времени</div>
            </div>
            <div class="panel">
                <div class="panel-slogan">Анализ</div>
                <div class="panel-description">Детальный анализ деятельности сотрудников</div>
            </div>
        </div>
        <div class="panels-column">
            <div class="panel">
                <div class="panel-slogan">Иерархия</div>
                <div class="panel-description">Разделение на старших и младших менеджеров</div>
            </div>
            <div class="panel">
                <div class="panel-slogan">Визуализация</div>
                <div class="panel-description">Удобное отображение в графическом и печатном формате</div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="company-logos">
        <div>
            <img src="~/images/logo/adani.png" alt="andi">
            <img src="~/images/logo/atlant.png" alt="atlant">
            <img src="~/images/logo/belshina.png" alt="belshina">
            <img src="~/images/logo/mtz.png" alt="mtz">
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#partial-plans").load("/GetPlans");
    </script>
}
<div id="partial-plans">
    @{/*<partial>@Html.Partial("/Home/GetPlans");</partial>*/}
</div>