@{
    ViewData["Title"] = "Home Page";
}

<div class="banner">
    <div class="banner-content">
        <div class="banner-left">
            <div class="banner-slogan">Эффективность работы - наша забота!</br>Отслеживай продуктивность сотрудников</br> и улучшай результаты!</div>
            <div class="banner-description">С легкостью сможешь контролировать </br> рабочие часы и индекс выгораемости прямо сейчас!</div>
            <button class="banner-button" href="">Подать заявку</button>
        </div>
        <img src="~/images/tablet(blank).png" class="tablet-image" alt="tablet" />
        <!--<div class="banner-right">
            <img src="tablet(blank).png" class="tablet-image" alt="tablet" />
        </div>-->
    </div>
</div>

<div class="company-logos">
</div>

<div class="">
</div>